.container {
  max-width: 1600px;
  margin: 0 auto;
}

body {
  font-family: "Poppins", sans-serif;
}


header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)),
    url("../images/tokyo-6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  padding: 200px 0;
}

header h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 30px 0;
  margin: 0;
}

header h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  letter-spacing: 3px;

  background-color: white;
  color: #432044;

  padding: 16px 32px;
  display: inline-block;
  margin-top: 32px;

  transition: all 160ms ease-in-out;
  border-radius: 5px;
}

header a:hover {
  background-color: #522d53;
  color: white;
  cursor: pointer;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

section.secondary {
  background-color: rgb(239, 229, 245);
}

main {
  background-color: white;
}

main h2 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 5px;
  color: #522d53;
  opacity: 0.3;
  text-transform: uppercase;
  margin: 0;
}

main h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.5;
  color: #311e31;
  margin: 0;
}

main h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: #2d152e;
  margin: 0;
}

main h5 {
  font-size: 13px;
  font-weight: 700;
  line-height: 1.5;
  color: #2d152e;
  margin: 0;
}

main p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: #522d53;
  opacity: 0.9;
  text-align: justify;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.img-responsive-other {
  width: 100%;
  display: block;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns-with-first-short {
  grid-template-columns: 1fr 2fr 2fr;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.embed {
  width: 100%;
  aspect-ratio: 1/1;
}

.instagram-embeds {
  margin: 30px 0;
}
.card {
  background-color: white;
  margin: 30px 0;
}

.card-header.grid {
  grid-gap: 0;
}

.card-body {
  padding: 30px;
}

.card-footer {
  padding: 0px 30px 30px;
}

.btn {
  display: block;

  background-color: #432044;
  color: white;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;

  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 16px;

  transition: all 150ms ease-in-out;
}

.btn:hover {
  color: white;

  background-color: #7f4481;
}

.text-center {
  text-align: center;
}

footer {
  color: rgb(255, 255, 255);
  background-image: linear-gradient(
      rgba(70, 36, 102, 0.74),
      rgba(35, 10, 36, 0.8)
    ),
    url("../images/footer-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

footer h3 {
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
}

footer p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.9;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.75;
  transition: all 120ms ease;
}

footer a:hover {
  color: rgb(252, 232, 255);
  opacity: 0.9;
}

.personal-info {
  text-align: center;
  padding: 15px 0;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  header a {
    font-size: 12px;
  }
  section {
    padding: 30px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  .img-responsive {
    max-width: 75%;
    height: auto;

    display: block;
    margin: 0 auto;
  }
  .card-header img {
    display: none;
  }

  .embed {
    aspect-ratio: 16/9;
  }
}
