body {
  font-family: "Poppins", sans-serif;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)),
    url("../images/tokyo-6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  padding: 200px 0;
}

header h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 30px 0;
  margin: 0;
}

header h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  letter-spacing: 3px;

  background-color: white;
  color: #432044;

  padding: 16px 32px;
  display: inline-block;
  margin-top: 32px;

  transition: all 160ms ease-in-out;
  border-radius: 5px;
}

header a:hover {
  background-color: #522d53;
  color: white;
  cursor: pointer;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  header a {
    font-size: 12px;
  }
}
